@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #454545;
  color: #dedede;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    margin: 0;
    font-style: bold;
    font-weight: 200;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 18px;  
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 370px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #175A87;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-selects {
  margin: 0px 0px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: auto;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: center;
  width: calc((100vw - 423px)/4);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  min-height: 200px;
  width:100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  letter-spacing: 2pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 400px){
  #restaurants-list li {
    width: 80vw;
  }
  #restaurants-list li:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  #restaurants-list .restaurant-img {
    min-height: 24vw;
  }
}


/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: #fff;
  height: 350px;
  width: 100%;
  padding-top:5px;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: auto;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: auto;
  margin: auto;
}
.inside #footer {
  bottom: auto;
  position: absolute;
  width: 100%;

}
#restaurant-container {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-bottom: 10px;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 22pt;
  font-weight: 300;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom: 4px;
}
#restaurant-img {
  margin: auto;
  height: auto;
  align-self: center;
  width:100%;
	border-radius: 2px ;
}
#restaurant-address {
  font-size: 12pt;
  font-weight: bolder;
  margin: auto;
  text-align: center;

}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width:100%;
}


.restaurant-outlook {
  width: 50%;
  text-align: center;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.restaurant-info {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;

}
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: auto;
  justify-content: space-around;
  align-items: baseline;
}
#reviews-container h2 {
  background-color: #333;
  color: #f58500;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 1pt;
  margin: auto;
  text-align: center;
  width: 100%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  width: 85%;
}
#reviews-list li p {
  margin: 10px 0;
  padding: 0 20px;
  font-size: 10pt;
  letter-spacing: 1pt;
}
#reviews-list .review-header{
  background: #2B2B2B;
  font-size: 14pt;
  padding: 10px 0;
}
#reviews-list .review-header p{
  color: #f2f2f2
}
#reviews-list .review-header .date{
  text-align: right;
  padding-left: 0;
}
#reviews-list .review-rating{
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-left: 20px;
  background: #A35A00;
  text-transform: uppercase;
  width: 100px;
  color: #f3f3f3;
}
#reviews-list .review-comment{
  margin: 20px 0;
}

#restaurant-hours td {
  color: #000;
  font-style: bolder;
  background-color: #fff;
  font-size: 10pt;
  font-weight: 300;
  padding: 5px 5px;
}

#restaurant-hours {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ccc;
  width: 85%;
}

/*=============Aria ============*/
.aria-label {
  display: none;
}

/*========== Responsiveness =========*/

@media only screen and (min-device-width: 320px) and (max-device-width: 502px) {
  .filter-selects {
    text-align: center;
  }
  .filter-options select {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurant-container {
    flex-flow: column;
    width: 94%;
  }

  #restaurant-img {
    height: 200px;
    width: 100%;
    padding-bottom: 5px;
  }

  #restaurant-hours {
    width: 85%;
  }

  .restaurant-outlook {
    width: 100%;
  }

  .restaurant-info {
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  #restaurants-list li {
    min-height: 300px;
    width: 60vw;
    margin: 15px auto;
  }
  #restaurant-address {
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
  }

  #restaurant-img {
    height: 300px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 601px) and (max-width: 875px) {
  #restaurants-list li {
    width: calc((100vw - 235px)/2);
  }
  #restaurant-hours {
    width: 85%;
    height: 300px;
  }
  #restaurant-img {
    height: auto;
    widtth:auto;
    padding-bottom: 5px;
  }

  .inside {
    width: 80%;
    margin: auto;
  }
  .inside header {
    width: 80%;
  }

  .inside #map-container {
    position: relative;
    height: 400px;
  }
  .inside #footer {
    width: 100%;
  }

}
@media screen and (min-width: 876px){
  #restaurants-list li {
    width: calc((100vw - 329px)/3);
  }
  #restaurant-img {
    width: 600px;
    height: 460px;
  }
  #restaurant-hours {
    width: 500px;
    height: 400px;
  }
}